/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 8, 2025, 4:40:15 PM
    Author     : Admin
*/
.ck-editor__editable {
    min-height: 300px;
    max-height: 60vh;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

.ck-editor__editable img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* nếu muốn căn giữa */
}

.ck-editor {
    max-width: 100%;   /* giới hạn chiều rộng */
}

.ckeditor-preview img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section-card .card-body {
    overflow: hidden;
}

.ckeditor-preview {
    max-height: 100px;
    overflow: hidden;
}
